<div layout='row' class='full-height'>
    <md-sidenav md-component-id='left' md-is-locked-open='true' md-disable-backdrop md-whiteframe='4'
                md-colors='::{backgroundColor: "default-primary"}' flex='15'>
        <md-toolbar>
            <span layout='row' layout-align='center center' layout-padding>
                <img src='/assets/img/logo.png' height='68px' width='80px'>
            </span>
        </md-toolbar>

        <md-content>
            <md-button id='button-home' ng-click='dashboardCtrl.changeState("rangout.dashboard")'
                       class='md-primary md-raised' layout-fill layout-padding>
                Início
            </md-button>

            <md-button id='button-orders' ng-click='dashboardCtrl.changeState("rangout.dashboard.orders")'
                       class='md-primary md-raised' layout-fill layout-padding>
                Pedidos
            </md-button>

            <md-button id='button-menu' ng-click='dashboardCtrl.changeState("rangout.dashboard.menu")'
                       class='md-primary md-raised'
                       layout-fill layout-padding>
                Cardápio
            </md-button>

            <md-button id='button-employees' ng-click='dashboardCtrl.changeState("rangout.dashboard.employees")'
                       class='md-primary md-raised' layout-fill layout-padding
                       data-ng-if='dashboardCtrl.canShowEmployeesButton()'>
                Funcionários
            </md-button>

            <md-button id='button-logout' ng-click='dashboardCtrl.logout()'
                       class='md-primary md-raised' layout-fill layout-padding>
                Sair
            </md-button>
        </md-content>
    </md-sidenav>

    <ui-view flex='85'></ui-view>
</div>
