<md-content layout='column' layout-padding>
    <md-button id='button-add-employee' class='md-raised md-primary'
               data-ng-click='dashboardEmployeesCtrl.openAddEmployeeDialog($event)'>
        Adicionar Funcionário
    </md-button>
</md-content>

<md-content layout='row' layout-wrap layout-padding>
    <md-card data-ng-repeat='employee in dashboardEmployeesCtrl.employees'>
        <md-card-content>
            <p>Nome: {{employee.name}}</p>
            <p>Nome de usuário: {{employee.username}}</p>
        </md-card-content>

        <md-card-actions layout='row' layout-align='end center'>
            <md-button class='md-icon-button' aria-label='Remover'
                       ng-click='dashboardEmployeesCtrl.openRemoveEmployeeDialog(employee, $event)'>
                <md-icon md-svg-src='/assets/img/ic_delete_black_24px.svg'></md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
