<div layout='column' layout-padding layout-fill layout-align='center center'>
    <div layout='row' layout-padding layout-fill layout-align='center center'>
        <div flex='40' flex-lg='60' flex-md='60' flex-sm='70' flex-xs='100'>
            <md-card>
                <md-toolbar layout-padding>
                    <div layout='row' layout-align='center center'>
                        <h1 class='md-headline'>
                            Registro
                        </h1>
                    </div>
                </md-toolbar>

                <md-content layout-padding>
                    <form name='registerForm'>
                        <md-tabs md-stretch-tabs='always' md-dynamic-height md-border-bottom>
                            <md-tab label='Gerente'>
                                <md-content class='md-padding'>
                                    <div layout-gt-sm='row'>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label for='manager-name'>
                                                Nome
                                            </label>
                                            <input required id='manager-name' name='managerName' type='text'
                                                   ng-model="registerCtrl.establishment.manager.name">
                                            <div ng-messages='registerForm.managerName.$error'>
                                                <div ng-message='required'>Informe seu nome.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label for='manager-username'>
                                                Nome de usuário
                                            </label>
                                            <input required id='manager-username' name='managerUsername' type='text'
                                                   ng-model="registerCtrl.establishment.manager.username">
                                            <div ng-messages='registerForm.managerUsername.$error'>
                                                <div ng-message='required'>Informe seu nome de usuário.</div>
                                            </div>
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm='row'>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label for='manager-email'>
                                                Email
                                            </label>
                                            <input required id='manager-email' name='managerEmail' type='email'
                                                   ng-model="registerCtrl.establishment.manager.email">
                                            <div ng-messages='registerForm.managerEmail.$error'>
                                                <div ng-message='required'>Informe seu email.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class='md-block' flex-gt-sm>
                                            <label for='manager-password'>
                                                Senha (Rangout)
                                            </label>
                                            <input required id='manager-password' name='managerPassword' type='password'
                                                   ng-model='registerCtrl.password'>
                                            <div ng-messages='registerForm.managerPassword.$error'>
                                                <div ng-message='required'>Informe a senha da conta Rangout.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-tab>

                            <md-tab label='Estabelecimento'>
                                <md-content class='md-padding'>
                                    <div layout-gt-sm='row'>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label for='establishment-name'>
                                                Nome
                                            </label>
                                            <input required id='establishment-name' name='establishmentName' type='text'
                                                   ng-model="registerCtrl.establishment.name">
                                            <div ng-messages='registerForm.establishmentName.$error'>
                                                <div ng-message='required'>Informe o nome do estabelecimento.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label for='establishment-nickname'>
                                                Nome de estabelecimento (login)
                                            </label>
                                            <input required id='establishment-nickname' name='establishmentNickname'
                                                   type='text'
                                                   ng-model="registerCtrl.establishment.nickname">
                                            <div ng-messages='registerForm.establishmentNickname.$error'>
                                                <div ng-message='required'>Informe o nome de estabelecimento (login).
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm='row'>
                                        <md-input-container class='md-block' flex-gt-sm>
                                            <label for='address-street'>
                                                Rua
                                            </label>
                                            <input required id='address-street' name='addressStreet'
                                                   type='text'
                                                   ng-model="registerCtrl.establishment.address.street">
                                            <div ng-messages='registerForm.addressStreet.$error'>
                                                <div ng-message='required'>Informe o nome da rua do estabelecimento.
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class='md-block' flex-gt-sm>
                                            <label for='address-number'>
                                                Número
                                            </label>
                                            <input required id='address-number' name='addressNumber'
                                                   type='number' min='0'
                                                   ng-model="registerCtrl.establishment.address.number">
                                            <div ng-messages='registerForm.addressNumber.$error'>
                                                <div ng-message='required'>Informe o número da rua do estabelecimento.
                                                </div>
                                                <div ng-message='min'>O número da rua deve ser positivo.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm='row'>
                                        <md-input-container class='md-block' flex-gt-sm>
                                            <label for='establishment-telephones'>
                                                Telefones (separados por vírgula)
                                            </label>
                                            <input required id='establishment-telephones' name='establishmentTelephones'
                                                   type='text' ng-list ng-model="registerCtrl.establishment.telephones">
                                            <div ng-messages='registerForm.establishmentTelephones.$error'>
                                                <div ng-message='required'>Informe pelo menos um telefone.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-tab>

                            <md-tab label='Cardápio'>
                                <md-content class='md-padding'>
                                    Cardápio
                                </md-content>
                            </md-tab>
                        </md-tabs>

                        <div layout='row'>
                            <md-button layout-fill class='md-raised md-primary' ng-click=''
                                       ng-disabled='registerForm.$invalid' aria-label='Confirmar'>
                                Confirmar
                            </md-button>
                        </div>

                        <br>

                        <div layout='row'>
                            <md-button layout-fill class='md-primary' ui-sref='login' aria-label='Voltar'>
                                Voltar
                            </md-button>
                        </div>
                    </form>
                </md-content>
            </md-card>
        </div>
    </div>
</div>
